<div class="flex min-h-screen w-full flex-row">
  <div
    class="relative hidden w-1/2 items-start justify-between bg-light-high p-8 dark:bg-dark-high lg:flex lg:flex-col">
    <div
      class="flex w-full flex-row items-center justify-start whitespace-nowrap text-base font-bold uppercase tracking-wider text-blue-900"></div>
    <div class="flex flex-col">
      <!-- <img
        *ngIf="darkMode.isDark"
        class="mb-5 w-80"
        src="assets/images/logo/logo-image-white.webp"
        alt="Folxcode" />
      <img
        *ngIf="!darkMode.isDark"
        class="mb-5 w-80"
        src="assets/images/logo/logo-image.webp"
        alt="Folxcode" /> -->
      <p class="mb-2 text-4xl font-medium">
        Selamat datang di
        <span class="font-bold text-primary-light">SIK</span>
      </p>
      <p class="">
        Terima kasih telah bergabung bersama kami, jika anda mengalami kesulitan
        <br />
        Mohon untuk menghubungi kami.
      </p>
    </div>
    <div
      class="z-10 flex w-full flex-row items-center justify-between text-xs"></div>
  </div>
  <div
    class="relative flex w-full flex-col items-center justify-between lg:w-1/2 lg:justify-center">
    <div
      class="absolute h-full w-full bg-[url('/assets/images/bg/login-bg.webp')] bg-cover bg-left bg-no-repeat brightness-50"></div>
    <div
      class="z-10 mt-10 flex w-full flex-row items-center justify-center whitespace-nowrap text-base font-bold uppercase tracking-wider text-white lg:hidden">
      <a class="flex flex-row items-center justify-start space-x-2" href="/">
        <!-- <span>
          <img
            *ngIf="darkMode.isDark"
            class="h-20"
            src="assets/images/logo/logo-image-white.webp"
            alt="Folxcode" />
          <img
            *ngIf="!darkMode.isDark"
            class="h-20"
            src="assets/images/logo/logo-image.webp"
            alt="Folxcode" />
        </span> -->
      </a>
    </div>
    <div
      class="z-10 mx-auto w-[96vw] rounded-xl bg-light-high p-8 dark:bg-dark-high md:max-w-md">
      <h2 class="text-3xl font-bold">Login</h2>
      <p class="mb-9 text-sm text-slate-600 dark:text-slate-400">
        Sistem Informasi Kelurahan
      </p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submit()"
        class="form space-y-7">
        <div class="space-y-2">
          <div class="w-full">
            <fc-input-text
              [type]="'email'"
              [title]="'Email'"
              [placeholder]="'Masukkan Email Anda'"
              formControlName="username">
            </fc-input-text>
          </div>
          <div class="w-full">
            <fc-input-text
              [type]="'password'"
              [title]="'Password'"
              [placeholder]="'Masukkan Password Anda'"
              formControlName="password">
            </fc-input-text>
          </div>
          <a
            type="button"
            routerLink="/auth/register"
            class="text-xs ml-2 hover:text-primary hover:dark:text-primary-light">
            Belum Punya Akun ?
          </a>
        </div>
        <p-button
          type="submit"
          label="Login"
          styleClass="w-full p-button-sm bg-primary-light hover:bg-primary-dark"
          [loading]="loading"
          (onClick)="submit()"></p-button>
      </form>
    </div>
    <div class="z-10"></div>
  </div>
</div>
<div class="bottom-10 left-10 z-10 text-xs lg:fixed">
  <a
    class="flex items-center space-x-2 rounded-md bg-light-low p-2 dark:rounded-none dark:bg-dark-high"
    href="/">
    <span
      ><img
        class="rounded-md"
        src="assets/images/logo/fc-white-blue.png"
        width="30px"
        alt="folxcode"
    /></span>
    <p class="">
      Copyright <br />by
      <span class="font-bold text-primary">Jayadi Akbar Pasaribu</span>
    </p>
  </a>
</div>
