<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"></app-fc-action-bar>
  <div class="body h-full w-full text-xs py-5" *ngIf="!loading">
    <div
      *ngIf="user.civilian?.note && user.civilian?.status == 2"
      class="border p-1 px-2 flex items-center justify-between rounded-md border-red-600 dark:border-red-700 bg-red-100 dark:bg-red-700/20">
      <div>
        <p class="font-bold text-md capitalize">Registrasi Ditolak!</p>
        <p class="text-xs mt-2">Catatan : {{ user.civilian.note }}</p>
      </div>
    </div>
    <form [formGroup]="userForm" class="w-full mt-3 grid gap-3">
      <fc-input-text
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        formControlName="name"
        title="Name"
        placeholder="Masukkan Nama" />
      <fc-input-text
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        formControlName="email"
        title="Email"
        placeholder="Masukkan Email" />
      <fc-input-number
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        title="Nomor Handphone"
        formControlName="phone_no"
        placeholder="Masukkan Nomor Handphone" />
      <fc-input-text
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        formControlName="birth_place"
        title="Tempat Lahir"
        placeholder="Masukkan Tempat Lahir" />
      <fc-datepicker
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        [placeholder]="'Tanggal Lahir'"
        title="Tanggal Lahir"
        formControlName="birth_date" />
      <fc-select-option
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        [options]="gender"
        formControlName="gender"
        [optionValue]="'id'"
        [optionLable]="'name'"
        title="Jenis Kelamin"
        [placeholder]="'Pilih Jenis Kelamin'"
        [desktopView]="'overlay'"
        [mobileView]="'dialog'" />
      <fc-input-text
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        [type]="'text'"
        [title]="'NIK'"
        [placeholder]="'Masukkan NIK Anda'"
        formControlName="nik" />
      <fc-input-text
        *ngIf="user.civilian"
        [disabled]="true"
        [type]="'text'"
        [title]="'RW'"
        [placeholder]="'Masukkan RW Anda'"
        formControlName="rw" />
      <fc-input-text
        *ngIf="user.civilian"
        [disabled]="true"
        [type]="'text'"
        [title]="'RT'"
        [placeholder]="'Masukkan RT Anda'"
        formControlName="rt" />
      <fc-select-option
        *ngIf="user.civilian"
        [disabled]="user.role > 0 || user.civilian?.status < 1"
        [options]="religion"
        formControlName="religion"
        [optionValue]="'name'"
        [optionLable]="'name'"
        title="Agama"
        [placeholder]="'Pilih Agama'"
        [desktopView]="'overlay'"
        [mobileView]="'dialog'" />
    </form>
  </div>
  <div class="py-[20vh] text-center" *ngIf="loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <p>Loading . . .</p>
  </div>
</div>
