<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs mb-4 md:mb-0 lg:mb-0">
    <!-- Data List -->
    <div class="mt-2 grid gap-2" *ngIf="!loading">
      <ng-container *ngFor="let goodReceipt of goodReceipts">
        <div
          (dblclick)="navigateToDetail(goodReceipt)"
          class="fc-animate-translate-up cursor-pointer @container items-center rounded-md border border-light-low bg-light-low hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light">
          <div class="hidden @2xl:flex items-center gap-3 p-3">
            <div class="flex-none w-[150px]">
              <p class="text-2xs">
                {{ goodReceipt.date | date : 'dd MMMM yyyy' }}
              </p>
              <p class="font-bold" *ngIf="goodReceipt.supplier">
                {{ goodReceipt.supplier.name }}
              </p>
            </div>
            <div class="flex-none w-[100px]">
              <div
                [ngClass]="getStatusColor(goodReceipt.status)"
                class="rounded-md w-fit p-1 px-2">
                {{ goodReceipt.status_name }}
              </div>
            </div>
            <div class="flex-1">
              <p class="text-2xs">Invoice</p>
              <p *ngIf="goodReceipt.purchase_invoice">
                {{ goodReceipt.purchase_invoice.invoice_no }}
              </p>
            </div>
            <div class="flex-1">
              <p class="text-2xs">Warehouse</p>
              <p *ngIf="goodReceipt.warehouse">
                {{ goodReceipt.warehouse.name }},
                {{ goodReceipt.warehouse.location }}
              </p>
            </div>
            <div class="flex justify-end">
              <button
                type="button"
                class="btn btn-high"
                (click)="navigateToDetail(goodReceipt)">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
          <div class="@2xl:hidden gird gap-3 p-2">
            <div class="w-full flex justify-between items-center">
              <div class="flex-1">
                <p class="text-2xs">
                  {{ goodReceipt.date | date : 'dd MMMM yyyy' }}
                </p>
                <p class="font-bold" *ngIf="goodReceipt.supplier">
                  {{ goodReceipt.supplier.name }}
                </p>
              </div>
              <div class="flex justify-end gap-2 items-center">
                <div
                  class="rounded-md w-fit py-1 px-2"
                  [ngClass]="getStatusColor(goodReceipt.status)">
                  {{ goodReceipt.status_name }}
                </div>
                <button
                  type="button"
                  class="btn btn-high"
                  (click)="navigateToDetail(goodReceipt)">
                  <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
                </button>
              </div>
            </div>
            <div
              class="my-2 w-full bg-light-lowest/50 dark:bg-dark-lowest/50 h-0.5"></div>
            <div class="w-full flex gap-3">
              <div class="flex-1">
                <p class="text-2xs">Invoice</p>
                <p *ngIf="goodReceipt.purchase_invoice">
                  {{ goodReceipt.purchase_invoice.invoice_no }}
                </p>
              </div>
              <div class="flex-1">
                <p class="text-2xs">Warehouse</p>
                <p *ngIf="goodReceipt.warehouse">
                  {{ goodReceipt.warehouse.name }},
                  {{ goodReceipt.warehouse.location }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
