<div
  class="space-y-3 rounded-lg bg-light-highest p-3 backdrop-blur-sm dark:bg-dark-highest">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="rounded-md p-2 hover:bg-light-lowest hover:dark:bg-dark-lowest"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="space-y-3">
    <form [formGroup]="purchaseOrderWarehouseForm" class="body @container dark:bg-dark-high w-full overflow-y-auto">
      <div class="grid gap-4">
        <!-- Select Warehouse -->
        <div
          class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
          <div  class="flex flex-col flex-1">
            <p
              class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
              Warehouse
            </p>
            <p *ngIf="purchaseOrderWarehouseForm.value.warehouse" class="text-xs">
              {{ purchaseOrderWarehouseForm.value.warehouse.name }}
            </p>
            <p *ngIf="!purchaseOrderWarehouseForm.value.warehouse" class="text-xs dark:text-gray-400">
              Select Warehouse
            </p>
          </div>
          <div class="flex gap-2 items-center">
            <button *ngIf="purchaseOrderWarehouseForm.value.warehouse" type="button" (click)="removeWarehouse()">
              <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
            </button>
            <button type="button" (click)="onSelectWarehouse()">
              <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
            </button>
          </div>
        </div>

        <fc-input-number
          title="Quantity"
          formControlName="quantity_ordered"
          placeholder="Enter Quantity">
        </fc-input-number>
      </div>
    </form>
  </div>
  <div class="flex items-center justify-end gap-3 pt-3">
    <button
      type="button"
      [ngClass]="isSubmitAllowed() ? 'opacity-100' : 'opacity-25'"
      class="fc-animate-translate-up flex items-center gap-2 rounded-md bg-light-lowest p-2 text-sm dark:bg-dark-lowest"
      (click)="submit()"
      [disabled]="!isSubmitAllowed()">
      Submit
    </button>
  </div>
</div>
