<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <form
    #purchaseOrderFormElement
    (scroll)="onScroll($event)"
    (change)="setOrderSummaryVisibility()"
    [formGroup]="purchaseOrderForm"
    class="body relative h-full w-full overflow-y-auto pt-5 text-xs">
    <div *ngIf="!loading" class="grid w-full gap-3">
      <div class="grid lg:grid-cols-2 gap-3">
        <fc-input-text
          [title]="'Purchase Order Number'"
          [placeholder]="'Enter Purchase Order Number'"
          formControlName="purchase_order_no">
        </fc-input-text>
        <div class="w-full grid lg:grid-cols-2 gap-2">
          <fc-datepicker
            [placeholder]="'Order Date'"
            title="Order Date"
            formControlName="date">
          </fc-datepicker>
          <fc-datepicker
            [placeholder]="'Expected Delivery'"
            title="Expected Delivery"
            formControlName="expected_delivery_date">
          </fc-datepicker>
        </div>
      </div>
      <!-- Bussiness Unit and Supplier -->
      <div class="grid lg:grid-cols-2 gap-3">
        <div
          class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
          <div class="flex flex-col flex-1">
            <p
              class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
              Business Unit
            </p>
            <p *ngIf="purchaseOrderForm.value.business_unit" class="text-xs">
              {{ purchaseOrderForm.value.business_unit.branch.address }}
            </p>
            <p
              *ngIf="!purchaseOrderForm.value.business_unit"
              class="text-xs dark:text-gray-400">
              Select Business Unit
            </p>
          </div>
          <div class="flex gap-2 items-center">
            <button
              *ngIf="purchaseOrderForm.value.business_unit"
              type="button"
              (click)="removeBusinessUnit()">
              <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
            </button>
            <button type="button" (click)="onSelectBusinessUnit()">
              <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
            </button>
          </div>
        </div>
        <div
          class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
          <div class="flex flex-col flex-1">
            <p
              class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
              Supplier
            </p>
            <p *ngIf="purchaseOrderForm.value.supplier" class="text-xs">
              {{ purchaseOrderForm.value.supplier.name }}
            </p>
            <p
              *ngIf="!purchaseOrderForm.value.supplier"
              class="text-xs dark:text-gray-400">
              Select Supplier
            </p>
          </div>
          <div class="flex gap-2 items-center">
            <button
              *ngIf="purchaseOrderForm.value.supplier"
              type="button"
              (click)="removeSupplier()">
              <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
            </button>
            <button type="button" (click)="onSelectSupplier()">
              <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Purchase Order Detail -->
      <div class="w-full grid gap-3 mt-6">
        <div class="flex-1">
          <div class="flex mb-3 items-center justify-between">
            <p>Ordered Items</p>
            <div>
              <button
                *ngIf="purchaseOrder.status == 0"
                type="button"
                (click)="addPurchaseOrderDetail()"
                class="flex gap-1 rounded-lg p-2 hover:bg-light-lowest dark:hover:bg-dark-lowest">
                <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
                <p>Add Item</p>
              </button>
            </div>
          </div>
          <div *ngIf="purchaseOrderDetails.value.length" class="grid gap-2">
            <ng-container
              *ngFor="let item of purchaseOrderDetails.value; let i = index">
              <div
                class="fc-animate-translate-upgrid cursor-pointer @container justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light">
                <div class="grid gap-3 @3xl:flex items-center">
                  <div class="flex-1 flex items-center gap-3">
                    <div
                      class="bg-white flex-none object-cover w-12 aspect-square rounded-lg">
                      <fc-image-preview
                        [preview]="true"
                        [src]="
                          item.product.product_images[0].url
                            ? item.product.product_images[0].url
                            : 'assets/images/placeholder/placeholder_small.jpg'
                        ">
                      </fc-image-preview>
                    </div>
                    <div class="flex-1">
                      <a
                        [routerLink]="['/product/view', item.product.id]"
                        target="_blank"
                        pTooltip="View Product"
                        class="font-bold capitalize hover:text-primary-dark dark:hover:text-primary-light">
                        {{ item.product.name }}
                      </a>
                      <div class="xl:flex gap-1 items-center">
                        <p class="text-2xs">
                          {{ item.expected_delivery_date | date }}
                        </p>
                      </div>
                      <a
                        *ngIf="item.supplier_quotation && item.quotation_no"
                        [routerLink]="[
                          '/supplier-quotation/view',
                          item.supplier_quotation.supplier_quotation_id
                        ]"
                        target="_blank"
                        pTooltip="View Supplier Quotation"
                        class="font-bold capitalize hover:text-primary-dark dark:hover:text-primary-light">
                        {{ item.quotation_no }}
                      </a>
                      <p
                        *ngIf="item.quotation_no && !item.supplier_quotation"
                        class="text-2xs">
                        {{ item.quotation_no }}
                      </p>
                    </div>
                  </div>
                  <div class="flex-1">
                    <div class="text-2xs flex flex-wrap">
                      <ng-container
                        *ngFor="
                          let warehouse of item.purchase_order_warehouses
                        ">
                        {{ warehouse.warehouse.name }} ({{
                          warehouse.quantity_ordered
                        }}),
                      </ng-container>
                    </div>
                    <p class="text-2xs font-bold">
                      Total Qty : {{ getTotalQtyItem(item) }}
                    </p>
                  </div>
                  <div class="flex-1 space-y-1 text-right">
                    <p class="font-bold">
                      {{
                        item.price_per_unit * getTotalQtyItem(item) | fcCurrency
                      }}
                    </p>
                    <p class="text-2xs">
                      ( {{ item.price_per_unit | fcCurrency }}/pcs )
                    </p>
                  </div>
                  <div class="flex justify-end gap-2">
                    <button
                      *ngIf="purchaseOrder.status == 0"
                      (click)="editPurchaseOrderDetail(i, item.id)"
                      type="button"
                      class="flex rounded-lg p-2 btn-high">
                      <fa-icon class="text-xs" [icon]="faPencil"></fa-icon>
                    </button>
                    <button
                      *ngIf="purchaseOrder.status == 0"
                      (click)="removePurchaseOrderDetail(i, item.id)"
                      type="button"
                      class="flex rounded-lg p-2 btn-high">
                      <fa-icon class="text-xs" [icon]="faTrash"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="flex justify-end">
              <div
                class="w-full rounded-md lg:w-96 bg-light-low p-3 dark:bg-dark-low">
                <div
                  class="w-full border rounded-lg border-light-lowest dark:border-dark-lowest">
                  <fc-input-text
                    [title]="'Purchase Note'"
                    [placeholder]="'Enter your note here'"
                    formControlName="note">
                  </fc-input-text>
                </div>
              </div>
            </div>
            <div class="flex justify-end" #orderSummary>
              <div
                class="w-full rounded-md lg:w-96 bg-light-low p-3 dark:bg-dark-low">
                <div class="grid gap-2">
                  <div class="px-1 flex justify-between items-center">
                    <p class="">Subtotal</p>
                    <p>{{ subTotalPrice | fcCurrency }}</p>
                  </div>
                  <div
                    class="w-full border rounded-lg border-light-lowest dark:border-dark-lowest">
                    <fc-input-number
                      title="Tax"
                      formControlName="tax"
                      placeholder="Enter Tax"></fc-input-number>
                  </div>
                </div>
                <div
                  class="mt-5 px-1 font-bold flex justify-between items-center">
                  <p class="">Grand Total</p>
                  <p>{{ grandTotalPrice | fcCurrency }}</p>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="!purchaseOrderDetails.value.length"
            class="text-center h-10 w-full flex items-center justify-center">
            No Purchase Order Detail Data
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!loading"
      (click)="scrollToBottom()"
      #stickyPurchaseOrderSummary
      class="w-full cursor-pointer mt-2 left-0 bottom-0 sticky rounded-md bg-light-low p-3 gap-4 flex items-center justify-between dark:bg-dark-low transition duration-300 ease-in-out border border-light-lowest dark:border-dark-lowest"
      [ngClass]="{
        invisible: !isShowOrderSummary
      }">
      <div class="w-full justify-end flex items-center gap-2">
        <div class="text-right">
          <p class="text-sm">Grand Total</p>
          <p class="text-lg font-bold">{{ grandTotalPrice | fcCurrency }}</p>
        </div>
      </div>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </form>
</div>
