<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"
    [hiddenActionButtons]="hiddenActionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs">
    <form
      *ngIf="!loading"
      class="mx-auto mt-2 grid w-full gap-3 mb-16 md:mb-0 lg:mb-0"
      [formGroup]="warehouseForm">
      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="code">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Code
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="code"
          formControlName="code"
          placeholder="Enter Warehouse Code" />
      </label>

      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="name">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Name
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter Warehouse Name" />
      </label>

      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="location">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Location
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="location"
          formControlName="location"
          placeholder="Enter Warehouse Location" />
      </label>
      <div class="supplier-quotation-detail @xl:col-span-2">
        <div class="flex items-center w-full mt-2">
          <h3 class="flex-1">Inventories</h3>
        </div>
        <div
          class="overflow-y-auto transition-all duration-700 ease-in-out w-full py-2">
          <div
            class="grid lg:grid-cols-2 xl:grid-cols-3 gap-2"
            *ngIf="warehouse.inventories.length > 0 && !loadingInventory">
            <ng-container *ngFor="let inventory of inventories; let i = index">
              <div
                class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
                <div class="flex items-center w-full flex-wrap">
                  <div class="@lg:w-[250px] w-full flex items-center gap-3">
                    <div
                      class="bg-white flex-none object-cover w-20 aspect-square rounded-lg">
                      <fc-image-preview
                        [preview]="true"
                        [src]="
                          inventory.product.product_images[0].url
                            ? inventory.product.product_images[0].url
                            : 'assets/images/placeholder/placeholder_small.jpg'
                        ">
                      </fc-image-preview>
                    </div>
                    <div class="space-y-1 w-full @lg:w-[150px]">
                      <a
                        [routerLink]="['/product/view', inventory.product.id]"
                        target="_blank"
                        pTooltip="View Product"
                        class="font-bold capitalize hover:text-primary-dark dark:hover:text-primary-light">
                        {{ inventory.product.name }}
                      </a>
                      <p>{{ inventory.quantity }} Pcs</p>
                    </div>
                    <div class="w-full flex justify-end gap-2 @lg:flex-1">
                      <button
                        (click)="onSelectInventoryTransactions(inventory.id)"
                        type="button"
                        class="flex gap-2 rounded-lg p-2 btn-high">
                        <fa-icon
                          class="text-xs"
                          [icon]="faTruckMoving"></fa-icon>
                        <p class="lg:block hidden">Transactions</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div
            class="flex justify-center items-center w-full h-full"
            *ngIf="warehouse.inventories.length == 0 && !loadingInventory">
            <p class="text-xs text-dark-lowest dark:text-white/60 py-10">
              No Product
            </p>
          </div>
          <div class="py-[20vh] text-center" *ngIf="loadingInventory">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <p>Loading . . .</p>
          </div>
        </div>
      </div>
    </form>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
</div>
