<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto py-5 text-xs">
    <form [formGroup]="registerForm" class="grid w-full gap-3 lg:grid-cols-2">
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="name">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Name
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          formControlName="name"
          id="name"
          placeholder="Enter Your Name" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="email">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Email
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="email"
          formControlName="email"
          id="email"
          placeholder="Enter Your Email" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="phone_no">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Phone Number
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="tel"
          formControlName="phone_no"
          id="phone_no"
          placeholder="Enter Your Phone Number" />
      </label>
      <label
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low"
        for="address">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Address
        </p>
        <input
          class="m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="tel"
          formControlName="address"
          id="address"
          placeholder="Enter Your Address" />
      </label>
      <label
        formGroupName="staff"
        class="form-input flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low lg:col-span-2"
        for="note">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Note
        </p>
        <textarea
          class="m-0 h-24 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          formControlName="note"
          id="note"
          placeholder="Enter Your Note"></textarea>
      </label>
    </form>
  </div>
</div>
