<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"
    [hiddenActionButtons]="hiddenActionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs">
    <form class="mx-auto mt-2 grid w-full gap-3" [formGroup]="warehouseForm">
      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="code">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Code
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="code"
          formControlName="code"
          placeholder="Enter Warehouse Code" />
      </label>

      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="name">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Name
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter Warehouse Name" />
      </label>

      <label
        class="form-input border border-transparent flex flex-col rounded-lg bg-light-lowest p-2 dark:bg-dark-low focus-within:border-light-lowest focus-within:dark:border-dark-lowest"
        for="location">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Location
        </p>
        <input
          class="input m-0 w-full bg-light-lowest p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
          type="text"
          id="location"
          formControlName="location"
          placeholder="Enter Warehouse Location" />
      </label>
    </form>
  </div>
</div>
