<div class="flex h-full flex-col gap-5 @container">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body flex h-full w-full gap-3 overflow-y-auto text-xs">
    <!-- Data List -->
    <ng-container *ngIf="!loading">
      <div
        class="space-y-2 overflow-y-auto transition-all duration-700 ease-in-out @container"
        [ngClass]="{
          'w-full': !quickView,
          'w-[20rem]': quickView
        }"
        *ngIf="!loading">
        <ng-container *ngFor="let staff of staffs">
          <div
            (dblclick)="onChangeStaff(staff)"
            class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light @lg:flex dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light">
            <div class="grid flex-1 gap-1">
              <div class="flex gap-3">
                <fa-icon [fixedWidth]="true" [icon]="faUser"></fa-icon>
                <p>{{ staff.user.name }}</p>
              </div>
              <div class="flex gap-3">
                <fa-icon [fixedWidth]="true" [icon]="faPhone"></fa-icon>
                <p>{{ staff.user.phone_no }}</p>
              </div>
              <div class="flex gap-3">
                <fa-icon [fixedWidth]="true" [icon]="faLocationDot"></fa-icon>
                <p>{{ staff.user.address }}</p>
              </div>
            </div>
            <div class="flex w-full justify-end @lg:w-[150px]">
              <button
                type="button"
                class="btn btn-high"
                (click)="navigateToDetail(staff)">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="flex-1" *ngIf="selectedStaff && quickView">
        <app-staff-view
          [staff]="selectedStaff"
          [quickView]="quickView"></app-staff-view>
      </div>
    </ng-container>

    <div class="w-full py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full @lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
