<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs">
    <!-- Data List -->
    <div
      class="mt-2 grid md:grid-cols-2 grid-cols-1 lg:grid-cols-4 gap-2"
      *ngIf="!loading">
      <ng-container *ngFor="let currency of currencies">
        <div
          (dblclick)="navigateToDetail(currency.id)"
          class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
          <div class="flex gap-2 items-start w-full">
            <div class="flex-1">
              <p class="mb-3 text-xs">
                {{ currency.name }} <span>({{ currency.code }})</span>
              </p>
              <ng-container *ngIf="currency.exchange_rates.length">
                <p class="text-2xs">Latest Rate</p>
                <p class="font-bold">
                  {{
                    currency.exchange_rates[currency.exchange_rates.length - 1]
                      .rate | fcCurrency
                  }}
                </p>
              </ng-container>
            </div>
            <div class="flex justify-end">
              <button
                type="button"
                class="btn btn-high"
                (click)="navigateToDetail(currency.id)">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
