<div class="flex min-h-screen w-full flex-row">
  <div
    class="relative hidden w-1/2 items-start justify-between bg-light-high p-8 dark:bg-dark-high lg:flex lg:flex-col">
    <div
      class="flex w-full flex-row items-center justify-start whitespace-nowrap text-base font-bold uppercase tracking-wider text-blue-900"></div>
    <div class="flex flex-col">
      <p class="mb-2 text-4xl font-medium">
        Selamat datang di
        <span class="font-bold text-primary-light">SIK</span>
      </p>
      <p class="">
        Terima kasih telah bergabung bersama kami, jika anda mengalami kesulitan
        <br />
        Mohon untuk menghubungi kami.
      </p>
    </div>
    <div
      class="z-10 flex w-full flex-row items-center justify-between text-xs"></div>
  </div>
  <div
    class="relative flex w-full flex-col items-center justify-between lg:w-1/2 lg:justify-center">
    <div
      class="absolute h-full w-full bg-[url('/assets/images/bg/login-bg.webp')] bg-cover bg-left bg-no-repeat brightness-50"></div>
    <div
      class="z-10 mt-10 flex w-full flex-row items-center justify-center whitespace-nowrap text-base font-bold uppercase tracking-wider text-white lg:hidden"></div>
    <div
      class="z-10 mx-auto w-[96vw] rounded-xl bg-light-high p-8 dark:bg-dark-high md:max-w-md">
      <h2 class="text-3xl font-bold">Registrasi</h2>
      <p class="mb-9 text-sm text-slate-600 dark:text-slate-400">
        Sistem Informasi Kelurahan
      </p>
      <form [formGroup]="registerForm" class="form space-y-4">
        <div class="space-y-2">
          <div
            class="h-[250px] overflow-y-auto grid grid-cols-1 xl:grid-cols-2 items-center gap-2">
            <div class="w-full">
              <fc-input-text
                [type]="'email'"
                [title]="'Email'"
                [placeholder]="'Masukkan Email Anda'"
                formControlName="email">
              </fc-input-text>
            </div>
            <div class="w-full">
              <fc-input-number
                title="Nomor Handphone"
                formControlName="phone_no"
                placeholder="Masukkan Nomor Handphone"></fc-input-number>
            </div>
            <div class="w-full">
              <fc-input-text
                [type]="'password'"
                [title]="'Password'"
                [placeholder]="'Masukkan Password Anda'"
                formControlName="password">
              </fc-input-text>
            </div>
            <div class="w-full">
              <fc-input-text
                [type]="'password'"
                [title]="'Konfirmasi Password'"
                [placeholder]="'Masukkan Konfirmasi Password Anda'"
                formControlName="confirm_password">
              </fc-input-text>
            </div>
            <div class="w-full">
              <fc-input-text
                [title]="'Nama'"
                [placeholder]="'Masukkan Nama Anda'"
                formControlName="name">
              </fc-input-text>
            </div>
            <div class="w-full">
              <fc-input-text
                [title]="'Tempat Lahir'"
                [placeholder]="'Masukkan Tempat Lahir Anda'"
                formControlName="birth_place">
              </fc-input-text>
            </div>
            <div class="w-full">
              <fc-datepicker
                [placeholder]="'Tanggal Lahir'"
                title="Tanggal Lahir"
                formControlName="birth_date" />
            </div>
            <div class="w-full">
              <fc-select-option
                [options]="gender"
                formControlName="gender"
                [optionValue]="'id'"
                [optionLable]="'name'"
                title="Jenis Kelamin"
                [placeholder]="'Pilih Jenis Kelamin'"
                [desktopView]="'overlay'"
                [mobileView]="'dialog'">
              </fc-select-option>
            </div>
            <div class="w-full">
              <fc-select-option
                [options]="religion"
                formControlName="religion"
                [optionValue]="'name'"
                [optionLable]="'name'"
                title="Agama"
                [placeholder]="'Pilih Agama'"
                [desktopView]="'overlay'"
                [mobileView]="'dialog'">
              </fc-select-option>
            </div>
            <div class="w-full">
              <fc-input-text
                [type]="'text'"
                [title]="'NIK'"
                [placeholder]="'Masukkan NIK Anda'"
                formControlName="nik">
              </fc-input-text>
            </div>
            <div class="w-full">
              <!-- Select RW -->
              <div
                class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
                <div class="flex flex-col flex-1">
                  <p
                    class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
                    RW
                  </p>
                  <p *ngIf="registerForm.value.rw" class="text-xs">
                    {{ registerForm.value.rw.section_no }}
                  </p>
                  <p
                    *ngIf="!registerForm.value.rw"
                    class="text-xs dark:text-gray-400">
                    Pilih RW
                  </p>
                </div>
                <div class="flex gap-2 items-center">
                  <button
                    *ngIf="registerForm.value.rw"
                    type="button"
                    (click)="removeRW()">
                    <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
                  </button>
                  <button type="button" (click)="onSelectRW()">
                    <fa-icon
                      [fixedWidth]="true"
                      [icon]="faChevronDown"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="w-full">
              <fc-select-option
                [disabled]="!registerForm.value.rw"
                [options]="rt"
                formControlName="rt"
                [optionValue]="'section_no'"
                [optionLable]="'section_no'"
                title="RT"
                [placeholder]="'Pilih RT'"
                [desktopView]="'overlay'"
                [mobileView]="'dialog'">
              </fc-select-option>
            </div>
          </div>
          <a
            type="button"
            routerLink="/auth/login"
            class="text-xs ml-2 hover:text-primary hover:dark:text-primary-light">
            Sudah Punya Akun ?
          </a>
        </div>
        <p-button
          type="submit"
          label="Register"
          styleClass="w-full p-button-sm bg-primary-light hover:bg-primary-dark"
          [loading]="loading"
          (onClick)="submit()"></p-button>
      </form>
    </div>
    <div class="z-10"></div>
  </div>
</div>
<div class="bottom-10 left-10 z-10 text-xs lg:fixed">
  <a
    class="flex items-center space-x-2 rounded-md bg-light-low p-2 dark:rounded-none dark:bg-dark-high"
    href="/">
    <span
      ><img
        class="rounded-md"
        src="assets/images/logo/fc-white-blue.png"
        width="30px"
        alt="folxcode"
    /></span>
    <p class="">
      Copyright <br />by
      <span class="font-bold text-primary">Jayadi Akbar Pasaribu</span>
    </p>
  </a>
</div>
