<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs mb-4 md:mb-0 lg:mb-0">
    <!-- Data List -->
    <div class="mt-2 grid gap-2" *ngIf="!loading">
      <ng-container *ngFor="let branch of branches">
        <div
          (dblclick)="navigateToDetail(branch.id)"
          class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
          <div class="flex flex-1 gap-3">
            <fa-icon class="" [icon]="faLocationDot"></fa-icon>
            <p>{{ branch.address }}</p>
          </div>
          <div class="flex w-full justify-end lg:w-[150px]">
            <button
              type="button"
              class="btn btn-high"
              (click)="navigateToDetail(branch.id)">
              <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
