<div
  class="space-y-3 rounded-lg bg-light-highest p-3 backdrop-blur-sm dark:bg-dark-highest">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="rounded-md p-2 hover:bg-light-lowest hover:dark:bg-dark-lowest"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <form [formGroup]="purchaseNoteDetailForm" class="grid gap-3">
    <div
      class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
      <div class="flex flex-col flex-1">
        <p
          class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
          Purchase Invoice Detail
        </p>
        <p *ngIf="purchaseNoteDetailForm.value.purchase_invoice_detail" class="text-xs">
          {{ purchaseNoteDetailForm.value.purchase_invoice_detail.product.name }}
        </p>
        <p
          *ngIf="!purchaseNoteDetailForm.value.purchase_invoice_detail"
          class="text-xs dark:text-gray-400">
          Select Purchase Invoice Detail
        </p>
      </div>
      <div class="flex gap-2 items-center">
        <button
          *ngIf="purchaseNoteDetailForm.value.supplier"
          type="button"
          (click)="removePurchaseInvoiceDetail()">
          <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
        </button>
        <button type="button" (click)="onSelectPurchaseInvoiceDetail()">
          <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
        </button>
      </div>
    </div>

    <fc-input-number
      title="Amount"
      formControlName="amount"
      placeholder="Enter Amount">
    </fc-input-number>

    <fc-input-text
      [title]="'Description'"
      [placeholder]="'Enter Description'"
      formControlName="description">
    </fc-input-text>

     <div class="flex gap-2 justify-end items-center">
        <button
          type="button"
          [ngClass]="
            isSubmitAllowed()
              ? 'opacity-100'
              : 'opacity-25'
          "
          class="fc-animate-translate-up flex items-center gap-2 rounded-md bg-light-lowest p-2 text-sm dark:bg-dark-lowest"
          (click)="submit()"
          [disabled]="!isSubmitAllowed()">
          <fa-icon
            [icon]="faSpinner"
            [spin]="true"
            [fixedWidth]="true"
            *ngIf="loadingButton"></fa-icon>
          Submit
        </button>
      </div>
  </form>
</div>
