<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"></app-fc-action-bar>

  <form
    #purchaseInvoiceFormElement
    (scroll)="onScroll($event)"
    [formGroup]="purchaseInvoiceForm"
    class="body relative h-full w-full overflow-y-auto pt-5 text-xs @container">
    <div class="grid w-full gap-3 @xl:grid-cols-2">
      <fc-input-text
        inputId="invoice_no"
        title="Purchase Invoice Number"
        formControlName="invoice_no"
        [placeholder]="'Enter Purchase Invoice Number'"
        [isInvalid]="
          purchaseInvoiceForm.get('invoice_no')?.invalid &&
          purchaseInvoiceForm.get('invoice_no')?.touched
        " />
      <div
        class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
        <div class="flex flex-col flex-1">
          <p
            class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
            Purchase Order
          </p>
          <p *ngIf="purchaseInvoiceForm.value.purchase_order" class="text-xs">
            {{ purchaseInvoiceForm.value.purchase_order.purchase_order_no }}
            ({{ purchaseInvoiceForm.value.purchase_order.supplier.name }})
          </p>
          <p
            *ngIf="!purchaseInvoiceForm.value.purchase_order"
            class="text-xs dark:text-gray-400">
            Select Purchase Order
          </p>
        </div>
        <div class="flex gap-2 items-center">
          <button
            *ngIf="purchaseInvoiceForm.value.purchase_order"
            type="button"
            (click)="removePurchaseOrder()">
            <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" (click)="onSelectPurchaseOrder()">
            <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
      <fc-datepicker
        [placeholder]="'Select Invoice Date'"
        title="Invoice Date"
        formControlName="date">
      </fc-datepicker>
      <fc-datepicker
        [placeholder]="'Select Due Date'"
        title="Due Date"
        formControlName="due_date">
      </fc-datepicker>
    </div>
    <!-- Purchase Invoice Detail -->
    <div
      class="w-full grid gap-3 mt-6"
      (change)="setInvoiceSummaryVisibility()">
      <div class="flex-1">
        <div class="flex mb-3 items-center justify-between">
          <p>Purchase Invoice Details</p>
          <div>
            <button
              type="button"
              (click)="addPurchaseInvoiceDetail()"
              class="flex items-center gap-1 rounded-md text-white text-xs">
              <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
              <p>Add Item</p>
            </button>
          </div>
        </div>
        <div *ngIf="purchaseInvoiceDetails.value.length" class="grid gap-2">
          <ng-container
            *ngFor="
              let purchaseInvoiceDetail of purchaseInvoiceDetails.value;
              let i = index
            ">
            <app-purchase-invoice-detail
              [index]="i"
              [purchaseInvoiceDetail]="purchaseInvoiceDetail"
              [canEdit]="true"
              (onDeletePurchaseInvoiceDetail)="
                deletePurchaseInvoiceDetail($event)
              "
              (onEditPurchaseInvoiceDetail)="
                editPurchaseInvoiceDetail($event)
              " />
          </ng-container>
          <div class="flex justify-end @containe">
            <div
              class="w-full rounded-md @xl:w-96 bg-light-low p-3 dark:bg-dark-low">
              <div
                class="w-full border rounded-lg border-light-lowest dark:border-dark-lowest">
                <fc-input-text
                  [title]="'Note'"
                  [placeholder]="'Enter your note here'"
                  formControlName="note">
                </fc-input-text>
              </div>
            </div>
          </div>
          <div class="flex justify-end @container" #orderSummary>
            <div
              class="w-full rounded-md @xl:w-96 bg-light-low p-3 dark:bg-dark-low">
              <div class="grid gap-2">
                <div class="px-1 flex justify-between items-center">
                  <p class="">Subtotal</p>
                  <p>{{ subTotalPrice | fcCurrency }}</p>
                </div>
                <div
                  class="w-full border rounded-lg border-light-lowest dark:border-dark-lowest">
                  <fc-input-number
                    title="Tax"
                    formControlName="tax"
                    placeholder="Enter Tax"></fc-input-number>
                </div>
              </div>
              <div
                class="mt-5 px-1 font-bold flex justify-between items-center">
                <p class="">Grand Total</p>
                <p>{{ grandTotalPrice | fcCurrency }}</p>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="!purchaseInvoiceDetails.value.length"
          class="text-center h-10 w-full flex items-center justify-center">
          No Purchase Invoice Detail Data
        </div>
      </div>
    </div>
    <div
      (click)="scrollToBottom()"
      #stickyPurchaseInvoiceSummary
      class="w-full cursor-pointer mt-2 left-0 bottom-0 sticky rounded-md bg-light-low p-3 gap-4 flex items-center justify-between dark:bg-dark-low transition duration-300 ease-in-out border border-light-lowest dark:border-dark-lowest"
      [ngClass]="{
        invisible: !isShowInvoiceSummary
      }">
      <div class="w-full justify-end flex items-center gap-2">
        <div class="text-right">
          <p class="text-sm">Grand Total</p>
          <p class="text-lg font-bold">{{ grandTotalPrice | fcCurrency }}</p>
        </div>
      </div>
    </div>
  </form>
</div>
