<div
  class="space-y-3 rounded-lg bg-light-highest p-3 backdrop-blur-sm dark:bg-dark-highest">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="rounded-md p-2 hover:bg-light-lowest hover:dark:bg-dark-lowest"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="space-y-3">
    <form
      [formGroup]="purchaseOrderDetailForm"
      class="body @container dark:bg-dark-high w-full overflow-y-auto">
      <div class="grid">
        <!-- Select Quotation -->
        <div
          class="form-input items-center flex cursor-pointer dark:hover:bg-dark-lowest rounded-lg bg-light-lowest p-2 dark:bg-dark-low">
          <div class="flex flex-col flex-1">
            <p
              class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
              Supplier Quotation
            </p>
            <p
              *ngIf="purchaseOrderDetailForm.value.supplier_quotation"
              class="text-xs">
              {{
                purchaseOrderDetailForm.value.supplier_quotation.quotation_no
              }}
            </p>
            <p
              *ngIf="!purchaseOrderDetailForm.value.supplier_quotation"
              class="text-xs dark:text-gray-400">
              Select Supplier Quotation
            </p>
          </div>
          <div class="flex gap-2 items-center">
            <button
              *ngIf="purchaseOrderDetailForm.value.supplier_quotation"
              type="button"
              (click)="removeSupplierQuotation()">
              <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
            </button>
            <button type="button" (click)="onSelectSupplierQuotation()">
              <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
            </button>
          </div>
        </div>
        <!-- Purchase Order -->
        <div
          *ngIf="purchaseOrderDetailForm.value.supplier_quotation"
          class="h-[500px] space-y-2 overflow-y-auto pt-2">
          <ng-container formArrayName="supplier_quotation_details">
            <ng-container *ngIf="!loadingSupplierQuotation">
              <ng-container
                *ngFor="
                  let supplierQuotationDetail of supplierQuotationDetails.controls;
                  let i = index
                "
                [formGroupName]="i">
                <div
                  [ngClass]="{
                    'opacity-50 cursor-default':
                      supplierQuotationDetails.value[i].exist
                  }"
                  class="fc-animate-translate-up h-fit w-full cursor-pointer @container justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light">
                  <div class="space-x-3 space-y-3 @3xl:flex items-center">
                    <div class="flex-1 flex items-start gap-3">
                      <input
                        [ngClass]="{
                          invisible: supplierQuotationDetails.value[i].exist
                        }"
                        class=""
                        type="checkbox"
                        formControlName="checked" />
                      <div class="flex-1 grid gap-2 text-xs">
                        <div class="flex gap-2">
                          <div
                            class="bg-white flex-none object-cover w-12 aspect-square rounded-lg">
                            <fc-image-preview
                              [preview]="true"
                              [src]="
                                supplierQuotationDetails.value[i].product
                                  .product_images[0].url
                                  ? supplierQuotationDetails.value[i].product
                                      .product_images[0].url
                                  : 'assets/images/placeholder/placeholder_small.jpg'
                              ">
                            </fc-image-preview>
                          </div>
                          <a
                            [routerLink]="[
                              '/product/view',
                              supplierQuotationDetails.value[i].product.id
                            ]"
                            target="_blank"
                            pTooltip="View Product"
                            class="font-bold capitalize hover:text-primary-dark dark:hover:text-primary-light">
                            {{ supplierQuotationDetails.value[i].product.name }}
                          </a>
                        </div>
                        <div class="@lg:flex grid gap-2">
                          <div
                            class="border rounded-lg @lg:flex-1 w-full border-light-lowest dark:border-dark-lowest">
                            <fc-input-number
                              [disabled]="
                                supplierQuotationDetails.value[i].exist
                              "
                              title="Price per Unit"
                              formControlName="price_per_unit"
                              placeholder="Enter Price" />
                          </div>
                          <div
                            class="border rounded-lg @lg:flex-1 w-full border-light-lowest dark:border-dark-lowest">
                            <fc-datepicker
                              [disabled]="
                                supplierQuotationDetails.value[i].exist
                              "
                              [placeholder]="'Expected Delivery'"
                              formControlName="expected_delivery_date"
                              title="Expected Delivery">
                            </fc-datepicker>
                          </div>
                        </div>
                        <!-- Warehouse -->
                        <div>
                          <div
                            class="w-full text-xs flex items-center justify-between">
                            <p>Warehouse</p>
                            <button
                              [disabled]="
                                supplierQuotationDetails.value[i].exist
                              "
                              type="button"
                              (click)="addWarehouseDetail(i)"
                              class="flex gap-1 rounded-lg p-2 hover:bg-light-lowest dark:hover:bg-dark-lowest">
                              <fa-icon
                                [fixedWidth]="true"
                                [icon]="faPlus"></fa-icon>
                              <p>Add Warehouse</p>
                            </button>
                          </div>
                          <div class="space-y-1">
                            <ng-container
                              *ngFor="
                                let purchaseOrderWarehouse of purchaseOrderWarehouses(
                                  i
                                ).value;
                                let j = index
                              ">
                              <div
                                class="grid-cols-1 @container items-center justify-between rounded-md bg-light-high px-3 p-1 hover:border-primary-light dark:bg-dark-high hover:dark:border-primary-light lg:flex">
                                <p class="flex-1">
                                  {{ purchaseOrderWarehouse.warehouse.name }}
                                  ({{
                                    purchaseOrderWarehouse.quantity_ordered
                                  }}Pcs)
                                </p>
                                <div class="flex flex-1 justify-end gap-2">
                                  <button
                                    (click)="
                                      removePurchaseWarehouseDetail(i, j)
                                    "
                                    type="button"
                                    class="flex rounded-lg p-2 btn-high">
                                    <fa-icon
                                      class="text-xs"
                                      [icon]="faTrash"></fa-icon>
                                  </button>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                          <div
                            *ngIf="!purchaseOrderWarehouses(i).value.length"
                            class="text-center h-5 w-full flex items-center justify-center">
                            No Data
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div
            *ngIf="
              !loadingSupplierQuotation &&
              !supplierQuotationDetails.value.length
            "
            class="text-center text-xs h-10 w-full flex items-center justify-center">
            No Data
          </div>
          <div class="py-[5vh] text-center" *ngIf="loadingSupplierQuotation">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <p>Loading . . .</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="flex items-center justify-end gap-3 pt-3">
    <button
      type="button"
      [ngClass]="isSubmitAllowed() ? 'opacity-100' : 'opacity-25'"
      class="fc-animate-translate-up flex items-center gap-2 rounded-md bg-light-lowest p-2 text-sm dark:bg-dark-lowest"
      (click)="submit()"
      [disabled]="!isSubmitAllowed()">
      Submit
    </button>
  </div>
</div>
