<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div
    class="body @container h-full w-full overflow-y-auto text-xs mb-4 md:mb-0 lg:mb-0">
    <!-- Data List -->
    <div class="mt-2 grid gap-2" *ngIf="!loading">
      <ng-container *ngFor="let user of users">
        <div
          class="fc-animate-translate-up grid cursor-pointer gap-2 items-center rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
          <div class="@lg:w-[200px] w-full space-y-1">
            <p class="text-2xs text-black dark:text-slate-300">Nama:</p>
            <p>
              {{ user.name }}
            </p>
          </div>
          <div class="@lg:w-[200px] w-full space-y-1">
            <p class="text-2xs text-black dark:text-slate-300">Email:</p>
            <p>{{ user.email }}</p>
          </div>
          <div class="@lg:w-[150px] w-full space-y-1">
            <p class="text-2xs text-black dark:text-slate-300">TTL:</p>
            <p>
              {{ user.civilian.birth_place }}
              {{ user.civilian.birth_date | date }}
            </p>
          </div>
          <div class="@lg:w-[150px] w-full space-y-1">
            <p class="text-2xs text-black dark:text-slate-300">RT/RW:</p>
            <p>
              {{ user.civilian.rt }}/
              {{ user.civilian.rw }}
            </p>
          </div>

          <div class="flex-1">
            <div
              [ngClass]="getStatusColor(user.civilian.status)"
              class="rounded-md w-fit p-1 px-2">
              {{ user.civilian.status_name }}
            </div>
          </div>
          <div
            *ngIf="user.civilian.status == 0"
            class="flex w-full justify-end lg:w-[150px]">
            <button
              (click)="approveUser(user.id, 1)"
              type="button"
              class="btn flex gap-1 btn-high">
              <fa-icon [fixedWidth]="true" [icon]="faCheck"></fa-icon>
              <p class="@lg:block hidden">Setuju</p>
            </button>
            <button
              (click)="approveUser(user.id, 2)"
              type="button"
              class="btn flex gap-1 btn-high">
              <fa-icon [fixedWidth]="true" [icon]="faX"></fa-icon>
              <p class="@lg:block hidden">Tolak</p>
            </button>
            <button
              type="button"
              class="btn btn-high"
              (click)="navigateToDetail(user)">
              <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
