<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs mb-4 md:mb-0 lg:mb-0">
    <!-- Data List -->
    <div class="mt-2 grid grid-cols-1 lg:grid-cols-2 gap-2" *ngIf="!loading">
      <ng-container *ngFor="let product of products">
        <div
          (dblclick)="navigateToDetail(product.id)"
          class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
          <div class="flex justify-between items-start w-full">
            <div class="flex gap-5">
              <div
                class="bg-white flex-none object-cover w-20 aspect-square rounded-lg">
                <fc-image-preview
                  [preview]="true"
                  [src]="
                    product.default_image
                      ? product.default_image.url
                      : 'assets/images/placeholder/placeholder_small.jpg'
                  "
                  [alt]="'liszthoven'" />
              </div>
              <div class="text-xs">
                <p class="font-bold capitalize mb-3">{{ product.name }}</p>
                <p>Stock: {{ product.quantity | number }} Pcs</p>
                <p class="font-bold">{{ product.base_price | fcCurrency }}</p>
              </div>
            </div>
            <div class="flex w-full justify-end lg:w-[150px]">
              <button
                type="button"
                class="btn btn-high"
                (click)="navigateToDetail(product.id)">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>Loading . . .</p>
    </div>
  </div>
  <div class="flex justify-end gap-3">
    <div class="w-full lg:w-96">
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
